body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h1, h2, h3 {
  font-weight: bold;
}

.hero-section img {
  max-height: 600px;
  object-fit: cover;
}

.service-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: scale(1.02);
}

footer {
  background-color: #343a40;
  color: #fff;
}


form label {
  font-weight: 600;
}

form input,
form textarea {
  border-radius: 0.5rem;
}

.btn-primary {
  background-color: #e32221;
  border: none;
  padding: 0.6rem 1.5rem;
}

.btn-primary:hover {
  background-color: #c91e1e;
}

.img-excursion {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.btn-whatsapp {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.btn-whatsapp:hover {
  background-color: #cc0000;
  color: #fff;
}

/* Que el html y body ocupen toda la altura */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor general en formato flex */
body {
  display: flex;
  flex-direction: column;
}

/* El main crece para ocupar el espacio disponible */
main {
  flex: 1;
}


#hero-carousel .carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  #hero-carousel .carousel-item img {
    max-height: 300px;
  }
}